
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

* {
    box-sizing: border-box;
    /* border: 1px solid blue; */
    padding: 0;
    margin: 0;
    font-family: 'Gilroy-Regular', sans-serif;
}

body {
    background-color:   #dad7cd;
}

main {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    margin-bottom: 15vh;

}

.container-all {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.titulo {
    padding-left: 5rem;
    width: 100%;
    text-align: left;
}

.titulo h1 {
    font-size: 2rem;
    font-family: 'Gilroy-Bold', sans-serif;
}

.empresa {
    font-size: 1.5rem;
    color: #7a7a7a;
}

.dashboard {
    margin-top: 3vh;
    width: 81%;
    /* height: 500px; */
    background-color: white;
    border: 0;
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dashboard table {
    overflow: hidden;
    background-color: white;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}

.dashboard tr {
    border-bottom: 1px solid #aaa;
    padding: 1rem;
}

.dashboard th {
    padding: 1rem;
    color: #3a5a40;
    font-size: 1.2rem;
    text-shadow: 0 0 10px rgba(58, 90, 64, 0.1)
}

.dashboard td {
    font-weight: 600;
    font-size: 1rem;
    border-bottom: 1px solid #aaa;
    padding: 1rem;
    transition: ease 0.3s;
}

.dashboard tr:hover {
    background-color: #f5f5f5;
}

.status-ativo {
    color: green;
}

.status-inativo {
    color: gray;
}

.status-falha {
    color: red;
}

.status-atencao {
    color: orange;
}

.container-cards {
    gap: 1rem;
    margin-top: 3vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    width: 350px;
    height: 200px;
    border: 0;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.card-esq i {
    font-size: 4rem;
}

.card-dir {
    display: flex;
    flex-direction: column;
}

.card-dir h1 {
    font-size: 2.7rem;
}

.card-dir h2 {
    /* max-width: 150px; */
    color: #aaa;
    font-size: 1rem;
}
