@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gilroy-Regular', sans-serif;
}

main {
    background-color: #dad7cd;
}

.container-all {
    display: flex;
    min-height: 130vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10rem;
    /* padding-bottom: 15vh; */
}

.container-cima {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-items: center;
}

.container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 315px;
    border: 0;
    border-radius: 8px;
    background-color: white;
    padding: 1.5rem;
}

.card i {
    color: #3a5a40;
    font-size: 3.5rem;
}

.card h1 {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.card h2 {
    text-align: left;
    width: 90%;
    margin-top: 1rem;
    font-size: 1rem;
}

.card a {
    background-color: rgba(240, 240, 240);
    padding: 0.5rem;
    border-radius: 8px;
    border: 2px solid #3a5a40;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    margin-top: auto;
    font-weight: 600;
    transition: ease 0.3s
}

.card a:hover {
    background-color: #3a5a40;
    color: white;
}

.container-contato {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato-info {
    display: flex;
    flex-direction: column;
}

.contato-info h1 {
    max-width: 300px;
    font-size: 2.2rem;
    color: black;
    font-family: 'Gilroy-Bold', sans-serif;
}

.contato-info h1 span {
    color: #3a5a40;
}

.contato-info h2 {
    width: 300px;
    margin-top: 3rem;
    font-size: 1rem;
    color: rgb(61, 61, 61);
}

.contato-info h3 {
    width: 300px;
    margin-top: 12%;
    font-size: 1rem;
    color: rgb(61, 61, 61);
}

.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: 10rem;
    background-color: #3a5a40;
    border-radius: 10px;
    width: 450px;
    height: 400px;
}

.container-form label {
    color: white;
    font-size: 1.5rem;
    font-family: 'Gilroy-Medium', sans-serif;
}

.container-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-form input {
    background-color: white;
    padding: 0.5rem;
    width: 400px;
    /* outline: 1px solid #aaa; */
    border-radius: 5px;
    border: 0;
    transition: ease 0.3s;
}

.container-form textarea {
    background-color: white;
    padding: 0.5rem;
    width: 400px;
    /* outline: 1px solid #aaa; */
    border-radius: 5px;
    border: 0;
    resize: none;
    height: 100px;
    transition: ease 0.3s;
}

.container-form input:focus {
    outline: none;
}

.container-form textarea:focus {
    outline: none;
}

.container-form button {
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #a3b18a;
    border: 0;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: ease 0.3s;
}

.container-form button:hover {
    background-color: rgba(163, 177, 138, 0.7);
}